<div id="application" class="page">
  <div class="title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">
        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email"
                 placeholder="email">
        </div>

        <div class="field">
          <input type="text"
                 name="name"
                 ng-model="user.profile.name"
                 placeholder="Full Name">
        </div>

        <div class="field">
          <select
            name="school"
            ng-model="user.profile.school"
            placeholder="College within CMU">
            <option value="">College within CMU</option>
            <option value="SCS">SCS</option>
            <option value="CIT">CIT</option>
            <option value="CFA">CFA</option>
            <option value="Dietrich">Dietrich</option>
            <option value="MCS">MCS</option>
            <option value="Tepper">Tepper</option>
          </select>
        </div>

        <div class="field">
          <select
            name="year"
            ng-model="user.profile.graduationYear"
            placeholder="Graduation Year">
            <option value="">Graduation Year</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
        </div>

        <div class="field">
          <select
            name="gender"
            ng-model="user.profile.gender"
            placeholder="gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
