<div id="sidebar"
     ng-class="{open: showSidebar}">
  <div ui-sref="app.dashboard"
       class="logo item">
    <img src="assets/images/logo.png">
  </div>

  <div ui-sref-active="active"
       class="item">
    Home
  </div>

  <div ui-sref-active="active"
       ui-sref="app.dashboard"
       class="item">
    Register
  </div>

  <div ng-show="currentUser.verified">

    <div
      ui-sref-active="active"
      ui-sref="app.team"
      ng-show="!currentUser.status.declined"
      class="item">
      Team
    </div>

    <div
      ui-sref-active="active"
      ui-sref="app.admin.stats"
      class="item"
      ng-show="currentUser.admin">
      Admin
    </div>

  </div>

  <div class="item"
       ng-click="logout()">
    Logout
  </div>

  <div class="footer">
    COPYRIGHT SCOTTYLABS 2019
  </div>

</div>

<div class="tab"
  ng-click="toggleSidebar()">
  <img ng-show="!showSidebar" src="assets/images/logo.svg" />
  <span class="close" ng-show="showSidebar">&#x2715</span>
</div>
