#application {
  .title {
    margin: 2rem;
  }
  select, input {
    font-family: $font-body;
  }
  input::placeholder {
    color: rgba(0,0,0,.87);
  }

  .button {
    color: $primary;
    background: $secondary;
    font-family: $font-body;
  }
}
