/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: rgb(66, 73, 94);
$secondary: rgb(228, 208, 227);
$tertiary: rgb(119, 172, 175);

/** ASSET URLS
 * login-bg: image for login splash page
 */

$login-bg: rgb(228, 208, 227);
